body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-image: url("img/imagem10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
}

nav a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(53, 49, 49, 0);
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #000;
  font-size: 0.8rem;
}

#fot{
  position: absolute;
  width: 20rem;
  height: 30rem;
}
.text-content{
  position:absolute;
  left: 70rem;
  top: 20rem;
}
#fot{
  position: absolute;
  left: 30vw;
  top: 28vh;
}
.image-container img {
  width: 300px;  /* Tamanho inicial */
  height: 300px; /* Tamanho inicial */
  transition: transform 0.3s ease;  /* Efeito suave de transição */
  border-radius: 10px; /* Bordas arredondadas para um visual mais elegante */
}

.image-container img:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Efeito de sombra para destacar */
}
.text-content{
  font: size 20%; 
  margin-left: 20px;
  padding:40px ;
}

#hehe{
  position: absolute;
  left: 70vw;
  top: 29vh;
  width: 25%;
  height: 50%;
}
#hoho{
  position: absolute;
  left: 36vw;
  top: 29vh;
  width: 25%;
  height: 50%;
}
#haha{
  position: absolute;
  left: 3%;
  top: 29vh;
  width: 25%;
  height: 50%;
}
#fotos{
  position: absolute;
  left: 80vw;
  top: 32vh;
  width: 19%;
  height: 50%;
}
#foto{
  position: absolute;
  left: 40vw;
  top: 13vh;
  width: 19%;
  height: 51%;
}
#fo{
  position: absolute;
  left: 1vw;
  top: 32vh;
  width: 19%;
  height: 48%;
}
.text-content {
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-right: 30px;
 
  
  
}
.text-content p {
  margin-bottom: 1px;
}
