body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-image: url("/Animais-20250310T105754Z-001/Animais/img/imagem10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
}

nav a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(53, 49, 49, 0);
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #000;
  font-size: 0.8rem;
}

#fot{
  position: absolute;
  width: 20rem;
  height: 30rem;
}
.text-content{
  position:absolute;
  left: 70rem;
  top: 20rem;
}
#fot{
  position: absolute;
  left: 30vw;
  top: 28vh;
}
.text-content{
  font: size 20%; 
  margin-left: 20px;
  padding:40px ;
}
#haha{
  position: absolute;
  width: 20rem;
  height: 30rem;
}
